<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1>brian typing</h1>
<% @books.each do |book| %>
<div class="card-bg card d-inline-flex p-2 bd-highlight index-uniformer" style="width: 18rem; background-color: #808080;">
  <img src= <%= "#{book.thumbnail}" %> class="card-img-top img" alt="...">
  <div class="card-bod card-bg">
    <h5 class="card-title"> <%= book.title %> </h5>
    <p class="card-text">
    <% book.authors.each do |author| %>
    Authors: <%= link_to author.name, author_path(author) %> <br>
    <% end %>
    Pages: <%= book.pages %> <br>
    Published: <%= book.year_published %> <br>
    Average Review Score: <%= book.reviews.avg_review_score %>/5 <br>
    Total Reviews: <%= book.reviews.review_count %>
    </p>
    <a href= <%= book_path(book) %> class="btn btn-primary <%= book.title %>"> See More </a>
  </div>
</div>
<% end %>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Top 3 Books</th>
      <th scope="col">Worst 3 Books</th>
      <th scope="col">Most prolific users</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <% if @books.best_books.first %>
      <td><%= @books.best_books.first.title %> <%= @books.best_books.first.avg_rating.round(1) %>/5 </td>
      <td><%= @books.best_books.last.title %> <%= @books.best_books.last.avg_rating.round(1) %>/5 </td>
      <% end %>
      <% if @users_by_review_count.first %>
        <td>User Name: <%= @users_by_review_count.first.user_name %> Number of Reviews: <%= @users_by_review_count.first.prolific_user %> </td>
      <% end %>
    </tr>
    <tr>
      <th scope="row"></th>
      <% if @books.best_books.second %>
      <td><%= @books.best_books.second.title %> <%= @books.best_books.second.avg_rating.round(1) %>/5</td>
      <td><%= @books.best_books.second_to_last.title %> <%= @books.best_books.second_to_last.avg_rating.round(1) %>/5 </td>
      <% end %>
      <% if @users_by_review_count.second %>
        <td>User Name: <%= @users_by_review_count.second.user_name %> Number of Reviews: <%= @users_by_review_count.second.prolific_user %></td>
      <% end %>
    </tr>
    <tr>
      <th scope="row"></th>
      <% if @books.best_books.third %>
      <td><%= @books.best_books.third.title %> <%= @books.best_books.third.avg_rating.round(1) %>/5</td>
      <td><%= @books.best_books.third_to_last.title %> <%= @books.best_books.third_to_last.avg_rating.round(1) %>/5 </td>
      <% end %>
      <% if @users_by_review_count.third %>
        <td>User Name:  <%= @users_by_review_count.third.user_name %> Number of Reviews: <%= @users_by_review_count.third.prolific_user %> </td>
      <% end %>
    </tr>
  </tbody>
</table>
